.btn {
  border-radius: 36px;
  /* padding: 1.3em 3.2em; */
  transition: $transitionBackground, $transitionBoxShadow;
  background-color: transparent;
  border: 1px solid transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  cursor: pointer;
  position: relative;
  z-index: 10;
  color: #fefefe;
  font-family: 'Myriad Pro';
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 2rem;
  text-transform: uppercase;
  /*	span {
          color: white;
          font-family: 'Lato';
          font-weight: 500;
          font-size: 1.25em;
          line-height: 1.5em;
          transition color 300ms ease-in
          position: relative
          z-index: 5
      }*/
  &:hover {
    &.btn_red {
      background-color: #e6315d;
      box-shadow: -0.187rem 0 0.563rem rgba(168, 39, 90, 0.1);
    }
    .btn__svg{
      transform: translate(0.5rem,0)
    }
  }
  &.btn_red {
    background-color: #fc2d5f;
    box-shadow: 0.094rem 0.163rem 0.563rem rgba(168, 39, 90, 0.1);
  }
  &.disable {
    pointer-events: none;
    background-color: #d7d7d7;
    box-shadow: none
  }
}

.btn__detail {
  width: 10.125rem;
  height: 3.625rem;
}

.btn__svg {
  width: 2em;
  height: 1em;
  fill: #fff;
  margin-left: 0.625rem;
  transition: $transitionTransform
}

.btn-small__svg {
  width: .688rem;
  height: .563rem;
  display: none;
  fill: #fff;
  margin-left: .3125rem;
  transition: transform 500ms ease;
  margin-top: -2.5px
}
.btn {
  &.disable {
    pointer-events: none

  }
}