<div class="recipes-page">
    <section class="recipes recipes-1">
        <div class="wrapper">
            <div class="box box-middle box_white" appAnimateTranslate="speed_slow">
                <article class="pos-top pos-top_35">
                    <h1 class="">
                        Отборные<br>
                        ингредиенты
                    </h1>
                    <h5>
                        Рецепт «Альметте» родился в&nbsp;предгорье Баварских Альп (г.&nbsp;Шонгау), где
                        приготовление домашнего сыра уже не&nbsp;одно столетие является традиционным.
                    </h5>
                    <p>
                        В&nbsp;основе рецепта&nbsp;— молодой альпийский сыр, взбитый со&nbsp;сливками.
                    </p>
                </article>
            </div>
            <div data-animate="speed_middle" class="recipes-1__photo" appAnimateTranslate="speed_middle">
                <img src="https://almette.ru/images/recipes/banka.png" class="mobile__hide" alt="">
                <img src="https://almette.ru/images/mobile/recipes/05_recipy_items_up.png" class="desktop__hide" alt="">
            </div>
        </div>
    </section>
    <section class="recipes recipes-2">
        <div class="wrapper b-flex_horizontal_end">
            <div class="box box-middle box_light-blue" appAnimateTranslate="speed_slow">
                <article class="pos-top pos-top_35">
                    <h6 class="">
                        Молоко <br>
                        и&nbsp;сливки
                    </h6>
                    <h5>
                        Творожный сыр «Альметте» можно приготовить только из&nbsp;свежего молока.
                    </h5>
                    <p>
                        Из&nbsp;него делают творог и&nbsp;натуральные сливки&nbsp;— главные ингредиенты молодого сыра.
                    </p>
                </article>
            </div>
        </div>
    </section>
    <section class="recipes recipes-3">
        <div class="wrapper">
            <div class="box box-middle box_light-gray" appAnimateTranslate="speed_slow">
                <article class="pos-top pos-top_35">
                    <h6 class="">
                        Нежная  <br>
                        консистенция
                    </h6>
                    <h5>
                        Сливки для творожного сыра «Альметте» получают путем сепарации молока.
                    </h5>
                    <p>
                        Именно благодаря использованию натуральных ингредиентов и&nbsp;деликатному взбиванию сыра, получается тот самый сливочный вкус и&nbsp;нежная консистенция Альметте, за&nbsp;которые его ценят повара и&nbsp;обычные потребители.
                    </p>
                </article>
            </div>
        </div>
    </section>
    <section class="recipes recipes-4">
        <div class="wrapper b-flex_horizontal_end padding-right_zero">
            <div class="box box-middle box_light-green" appAnimateTranslate="speed_slow">
                <article class="pos-top pos-top_35">
                    <h6 class="">
                        Лучшие <br>
                        вкусы
                    </h6>
                    <h5>
                        В&nbsp;альпийской кухне творожный сыр потребляют в&nbsp;сочетании с&nbsp;разными
                        ингредиентами: ароматными травами, пикантными свежими и&nbsp;маринованными овощами, грибами.
                    </h5>
                    <p>
                        Наиболее популярные из&nbsp;этих сочетаний нашли свое воплощение в&nbsp;российской линейке
                        «Альметте»:
                    </p>
                    <ul>
                        <li>
                            <p> «Альметте» <br class="tastes-br">сливочный</p>
                        </li>
                        <li>
                            <p> «Альметте» <br class="tastes-br">с&nbsp;зеленью</p>
                        </li>
                        <li>
                            <p> «Альметте» <br class="tastes-br">с&nbsp;огурцами и&nbsp;зеленью</p>
                        </li>

                        <li>
                            <p> «Альметте» <br class="tastes-br">с&nbsp;белыми грибами</p>
                        </li>
                        <li>
                            <p> «Альметте» <br class="tastes-br">с&nbsp;томатами по-итальянски</p>
                        </li>
                        <li>
                            <p> «Альметте» <br class="tastes-br">с&nbsp;чесноком</p>
                        </li>

                        <li>
                            <p> «Альметте» <br class="tastes-br">с&nbsp;сыром Маасдам</p>
                        </li>
                    </ul>
                </article>
            </div>
            <div class="recipes-4__photo" appAnimateTranslate="speed_fast">
                <img src="https://almette.ru/images/recipes/buterbrod.png" class="" alt="">
            </div>
        </div>
    </section>
    <section class="recipes recipes-5">
        <div class="wrapper">
            <div class="recipes__circle recipes__circle__left">
                <div class="recipes__circle-photo">
                    <img src="https://almette.ru/images/svg-sprite/ill_1.svg" alt="">
                </div>
                <div class="recipes__title js__test" appAnimateTranslate="speed_fast">
                    <h3>
                        Без консервантов
                    </h3>
                    <p>
                        Как и&nbsp;много лет назад в&nbsp;рецепте по-прежнему не&nbsp;используют консерванты. Нежная
                        консистенция сыра получается благодаря деликатному взбиванию со&nbsp;сливками, а&nbsp;срок
                        годности 120 суток достигается за&nbsp;счет термизации в&nbsp;процессе производства и&nbsp;строгого
                        контроля микробиологических показателей.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="recipes recipes-6">
        <div class="wrapper b-flex_horizontal_end">
            <div class="recipes__circle recipes__circle__right">
                <div class="recipes__circle-photo">
                    <img src="https://almette.ru/images/svg-sprite/ill_2.svg" alt="">

                </div>
                <div class="recipes__title" appAnimateTranslate="speed_fast">
                    <h3>
                        Входной контроль <br> <br class="tastes-br">
                        качества
                    </h3>
                    <p>
                        При поступлении на&nbsp;завод молоко попадает в&nbsp;специальную лабораторию, где проводится
                        проверка на&nbsp;безопасность и&nbsp;качество. Только после прохождения всех необходимых
                        тестов, молоко идет в&nbsp;<a href="/production" class="color_red">производство</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>