<div class="about-page">
    <section class="about about__top">
        <div class="about__top-photo " data-animate="">
            <img src="https://almette.ru/images/about/02_about_hohland_1.jpg" class="image_cover mobile__hide" alt="">
            <img src="https://almette.ru/images/mobile/about/02_about_hohland_1_mob.jpg" class="image_cover desktop__hide" alt="">
        </div>
        <div class="wrapper padding-left_zero">
            <div class="box box-35 box_blue margin-top__minus_225" appAnimateTranslate="speed_slow">
                <article class="pos-top pos-top_35 width-400">
                    <h1 class="">
                        О компании <br>
                        «Хохланд»
                    </h1>
                    <h5>
                        Творожный сыр «Альметте» производится немецкой семейной компанией «Хохланд».
                        В 2017 году «Хохланд» отпраздновал свое 90‑летие!
                    </h5>
                </article>
            </div>
        </div>
    </section>
    <section class="about about__video margin-top__minus_90">
        <div class="wrapper padding-right_zero">
            <div class="b-flex b-flex_horizontal_end about__video-content">
                <div class="video" appAnimateTranslate="speed_middle">
                    <div class="video__play" appVideoPopup="almette">
                        <svg class="play__svg">
                            <use xlink:href="/assets/img/svg-sprite/svg.svg#ico_play"></use>
                        </svg>
                    </div>
                </div>
            </div>

            <article class="width-per_75 about__video-text">
                <h5>
                    Главные ценности «Хохланд руссланд»: соблюдение традиций, <br>
                    преемственность опыта, ответственное
                    отношение к работе, высокое <br>
                    качество продукции и доверие потребителей.
                </h5>
                <p>
                    Миссия «Хохланд Руссланд»: день за днем делать все возможное, чтобы вдохновлять людей своей
                    продукцией. Во
                    <br>
                    всем, что делает «Хохланд Руссланд», компания берет на себя ответственность за людей и окружающую
                    среду.
                    <br>
                    «Хохланд Руссланд» заботится о наших детях и внуках.
                </p>
            </article>
        </div>
    </section>
    <section class="about about__history">
        <div class="wrapper about__history-title">
            <article appAnimateTranslate="speed_middle">
                <h3>
                    Как начиналась <br>
                    история «Хохланд»
                </h3>
                <h5>
                    1 сентября 1927 предприниматель Роберт Райх вместе со своим шурином <br> Георгом Зуммером
                    основали в
                    альпийском местечке Госхольц (пригород <br> Линденберга, Германия) завод по производству
                    плавленых
                    сыров «Хохланд».
                </h5>
                <p>
                    Вскоре у продукции «Хохланд» появились постоянные покупатели в больших городах – Берлине,
                    Дрездене <br> и Лейпциге.
                </p>
            </article>
        </div>
        <div class="wrapper padding-left_zero padding-right_zero">
            <div class="about__history-photo" appAnimateTranslate="speed_slow">
                <img src="https://almette.ru/images/about/02_about_hohland_2.jpg" class="image_cover mobile__hide" alt="">
                <img src="https://almette.ru/images/mobile/about/02_about_hohland_2_mob.jpg" class="image_cover desktop__hide" alt="">
            </div>
            <div class="b-flex b-flex_horizontal_end margin-top__minus_155">
                <div class="box box_white box-49" appAnimateTranslate="speed_middle">
                    <article>
                        <h5>
                            В 1931 году Райх и Зуммер выкупили здание закрывшейся фабрики по производству шляп, чтобы
                            открыть там сыроварню и обустроить квартиры для своих рабочих.
                        </h5>
                        <p>
                            Предприятие с 30 сотрудниками переехало в соседний поселок Хайменкирх. Через несколько лет
                            «Хохланд» стали самым крупным производителем блочного сыра в Германии.
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="about about__dates">
        <div class="wrapper">
            <article appAnimateTranslate="speed_slow">
                <h3>
                    Развитие компании <br>
                    «Хохланд»
                </h3>
                <h5>
                    После Второй мировой войны у руля торгового представительства <br>
                    «Хохланд» встал сын Георга Зуммера –
                    Роберт. Под его руководством <br> компания стала осваивать новые рынки.
                </h5>
            </article>
            <div class="about__dates-item b-flex_horizontal_end">
                <h2 class="date_left" appAnimateTranslate="speed_middle">
                    1955
                </h2>
                <h4 class="width_650" appAnimateTranslate="speed_slow">
                    «Хохланд» внимательно следили за изменением предпочтений покупателей: в 1955 компания начала
                    выпускать сыр в нарезке и порциями.
                </h4>
            </div>
            <div class="about__dates-item ">
                <h4 class="width_580" appAnimateTranslate="speed_slow">
                    В 1960 в состав предприятия вошел завод <br>
                    по производству сыра Эмменталь.
                </h4>
                <h2 class="date_right" appAnimateTranslate="speed_middle">
                    1960
                </h2>
            </div>
            <div class="about__dates-item b-flex_horizontal_end">
                <h2 class="date_left" appAnimateTranslate="speed_middle">
                    1962
                </h2>
                <h4 class="width_580" appAnimateTranslate="speed_slow">
                    К 1962 году производство плавленого сыра «Хохланд» стало крупнейшим в Европе, а в середине 60-х
                    начались продажи за ее пределами.
                </h4>
            </div>
            <div class="about__dates-item ">
                <h4 class="width_620"  appAnimateTranslate="speed_slow">
                    В начале 70-х «МакДоналдс» открыл свои рестораны в Германии, где выбрал в качестве поставщика сыра
                    компанию «Хохланд».
                </h4>
                <h2 class="date_right" appAnimateTranslate="speed_middle">
                    1970
                </h2>
            </div>
            <div class="about__dates-item b-flex_horizontal_end">
                <h2 class="date_left" appAnimateTranslate="speed_middle">
                    1988
                </h2>
                <h4 class="width_650" appAnimateTranslate="speed_slow">
                    В 1988 году «Хохланд» купили у «Первого баварского маслодельного завода» сыроварни в баварском
                    городе в Шонгау.
                </h4>
            </div>
            <div class="about__dates-item ">
                <h4 class="width_620" appAnimateTranslate="speed_slow">
                    В 1997 году в Шонгау открылось производство творожного сыра «Альметте».
                </h4>
                <h2 class="date_right" appAnimateTranslate="speed_middle">
                    1997
                </h2>
            </div>
            <div class="about__dates-item b-flex_horizontal_end">
                <h2 class="date_left" appAnimateTranslate="speed_middle">
                    2000
                </h2>
                <h4 class="width_620" appAnimateTranslate="speed_slow">
                    В 2000 году «Хохланд» запустили собственное производство в России и заняли позицию лидера на рынке.
                </h4>
            </div>
        </div>
    </section>
    <section class="about about__country">
        <div class="wrapper">
            <article>
                <h3>
                    «Хохланд» <br>
                    в&nbsp;России
                </h3>
                <div class="b-flex_between">
                    <h5 class="width_860">
                        В&nbsp;России располагаются два высокотехнологичных завода «Хохланд Руссланд»,
                        на&nbsp;которых производятся три бренда сыров:
                    </h5>
                    <div class="small-box__line width_305 mobile__hide">
                        <article>
                            <p>
                                Сегодня «Хохланд Руссланд»&nbsp;— лидер среди производителей сыров
                                в&nbsp;России в&nbsp;обоих сегментах.
                            </p>
                        </article>
                    </div>
                </div>
                <div class="width width_860">
                    <div class="list list__circle">
                        <article>
                            <ul>
                                <li>
                                    <p>
                                        «Альметте»&nbsp;— творожный сыр;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        «Хохланд»&nbsp;— плавленые и&nbsp;творожные сыры;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        «Фетакса»&nbsp;— сыр фета.
                                    </p>
                                </li>
                            </ul>
                            <p>
                                Помимо розничной торговли компания также плотно работает с&nbsp;сегментом
                                общественного питания.
                            </p>
                        </article>
                    </div>
                    <div class="small-box__line width_305 desktop__hide">
                        <article>
                            <p>
                                «Хохланд Руссланд»&nbsp;— лидер среди производителей сыров в&nbsp;России.
                            </p>
                        </article>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <section class="about about__country-photo">
        <div class="wrapper padding-left_zero">
            <div class="about__history-photo" appAnimateTranslate="speed_slow">
                <img src="https://almette.ru/images/about/02_about_hohland_3.jpg" class="image_cover mobile__hide" alt="">
                <img src="https://almette.ru/images/mobile/about/02_about_hohland_3_mob.jpg" class="image_cover desktop__hide" alt="">
            </div>
        </div>
    </section>
    <section class="about about__country-content">
        <div class="wrapper padding-right_zero ">
            <div class="b-flex b-flex_horizontal_end">
                <div class="box box_white box-49 b-flex_vertical" appAnimateTranslate="speed_middle">
                    <article>
                        <h5>
                            Компания также производит сыры для&nbsp;профессионального применения под маркой «Хохланд
                            Профешнл».
                        </h5>
                        <p>
                            Российские заводы соответствуют международными схемам сертификации
                            пищевой отрасли
                            IFS и&nbsp;SQMS, а&nbsp;также оснащены собственными лабораториями, благодаря которым
                            микробиологический контроль качества происходит на&nbsp;всех этапах производства: от&nbsp;входного
                            контроля сырья до&nbsp;готовой продукции.
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </section>
</div>