<div class="about-company">
    <section class="about about__top">
        <div class="about__top-photo ">
            <img src="https://almette.ru/images/about/03_about_almette_1.jpg" class="image_cover mobile__hide" alt="">
            <img src="https://almette.ru/images/mobile/about/03_about_almette_1_mob.jpg"
                 class="image_cover desktop__hide" alt="">
        </div>
        <div class="wrapper padding-left_zero">
            <div class="box box-35 box_blue margin-top__minus_225" appAnimateTranslate="speed_slow">
                <article class="pos-top pos-top_35 width-380">
                    <h1 class="">
                        О бренде <br>
                        Almette
                    </h1>
                    <h5>
                        В основе классического рецепта «Альметте» – нежные сливки и натуральный творог, из которых
                        готовят молодой сыр.
                    </h5>
                </article>
            </div>
        </div>
    </section>
    <section class="about about__video margin-top__minus_90">
        <div class="wrapper padding-right_zero">
            <div class="b-flex b-flex_horizontal_end about__video-content" appAnimateTranslate="speed_middle">
                <div class="video" appAnimateTranslate="speed_middle">
                    <div class="video__play" appVideoPopup="almette">
                        <svg class="play__svg">
                            <use xlink:href="/assets/img/svg-sprite/svg.svg#ico_play"></use>
                        </svg>
                    </div>
                </div>
            </div>

            <article class="width-per_75 about__video-text">
                <h5>
                    Творожный сыр «Альметте» – один из брендов немецкой семейной компании <br> «Хохланд».
                </h5>
                <p>
                    Независимое семейное предприятие вот уже 90 лет занимается производством сыров. Компанию основали
                    торговец Роберт Райх и его шурин Георг Зуммер в 1927 году в Баварии. С первого дня главные ценности
                    «Хохланд» – следование традициям, преемственность опыта, преданность своему делу, высокие стандарты
                    производства и доверие покупателей.
                </p>
            </article>
        </div>
    </section>
    <section class="about about__history">
        <div class="wrapper about__history-title">
            <article appAnimateTranslate="speed_slow">
                <h3>
                    «Альметте» сегодня
                </h3>
            </article>
        </div>
        <div class="wrapper padding-left_zero about__history-box" appAnimateTranslate="speed_slow">
            <div class="box box_white box-49">
                <article>
                    <h5>
                        Сегодня в&nbsp;мире действуют три завода по&nbsp;производству творожного сыра «Альметте»:
                        на&nbsp;родине бренда&nbsp;— в&nbsp;альпийском городке Шонгау в&nbsp;Германии, а&nbsp;также
                        в&nbsp;Польше и&nbsp;в&nbsp;России.
                    </h5>
                    <p>
                        Все три завода не&nbsp;только оборудованы пунктами приемки молока (которое прямо с&nbsp;ферм
                        поступает на&nbsp;производство), а&nbsp;также оснащены специальными лабораториями для
                        контроля качества поступающего сырья. Все заводы работают по&nbsp;международным стандартам
                        качества.
                        В&nbsp;рецепте по-прежнему не&nbsp;используют загустители и&nbsp;консерванты. Нежная
                        консистенция сыра получается благодаря деликатному взбиванию со&nbsp;сливками, а&nbsp;срок
                        годности 120 суток достигается за&nbsp;счет термизации (нагревания) в&nbsp;процессе
                        производства и&nbsp;строгого контроля микробиологических показателей.
                    </p>
                </article>
            </div>
        </div>
        <div class="wrapper padding-right_zero about__history-img">
            <div class="b-flex b-flex_horizontal_end">
                <div class="about__history-photo" appAnimateTranslate="speed_middle">
                    <img src="https://almette.ru/images/about/03_about_almette_2.jpg" class="image_cover mobile__hide"
                         alt="">
                    <img src="https://almette.ru/images/mobile/about/03_about_almette_2_mob.jpg"
                         class="image_cover desktop__hide" alt="">
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="about__history-content" appAnimateTranslate="speed_middle">
                <div class="width-per_50">
                    <h3>
                        2
                    </h3>
                    <h5>
                        Бренд «Альметте» в&nbsp;России два <br>
                        раза становился победителем <br>
                        конкурса «Товар года»
                    </h5>
                </div>
                <div class="width-per_50">
                    <svg class="dove__svg">
                        <use xlink:href="/assets/img/svg-sprite/svg.svg#dove"/>
                    </svg>
                    <h5>
                        Ценности компании&nbsp;— следование <br> традициям, преемственность <br> опыта и&nbsp;доверие
                        покупателей
                    </h5>
                </div>
            </div>
        </div>
    </section>
    <section class="about about__tastes">
        <div class="wrapper">
            <article>
                <h3>
                    Вкусы творожного <br>
                    сыра «Альметте»
                </h3>
            </article>
        </div>
        <div class="wrapper padding-left_zero">
            <div class="about__tastes-content" appAnimateTranslate="speed_middle">
                <div class="about__tastes-photo">
                    <img src="https://almette.ru/images/about/03_about_almette_3.jpg" class="image_cover mobile__hide"
                         alt="">
                    <img src="https://almette.ru/images/mobile/about/03_about_almette_3_mob.jpg"
                         class="image_cover desktop__hide" alt="">
                </div>
                <div class="small-box__line width_305">
                    <article>
                        <p>
                            В Баварии молодой сыр традиционно готовят с различными добавками. Для «Альметте» выбраны
                            наиболее популярные сочетания. Во всем мире творожный сыр «Альметте» используется для
                            приготовления самых разных блюд. Часть из них представлена на сайте в разделе <a
                                class="color_red text_underline" href="#">«Рецепты»</a>.
                            Особенное внимание уделено традиционным рецептам Альпийской кухни.
                        </p>
                    </article>
                </div>
            </div>
        </div>
        <div class="wrapper about__tastes-wrapper">
            <article>
                <h5>
                    На российском рынке представлено семь вкусов <br>
                    творожного сыра «Альметте»:
                </h5>
            </article>
            <swiper [config]="configBrand" class="about__tastes-product">
                <div class="swiper-wrapper">
                    <div class="about__tastes-item swiper-slide" *ngFor="let item of arraySmallImages">
                        <div class="about__tastes-image">
                            <img [src]="item.imgUrl" alt="">
                        </div>
                        <p>
                            {{item.title}}
                        </p>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </swiper>
        </div>
    </section>
    <section class="about about__cheese">
        <div class="wrapper">
            <article appAnimateTranslate="speed_middle">
                <h3>
                    Творожный сыр <br>
                    «Альметте» в России
                </h3>
                <h5>
                    Для производства сыра «Альметте» используют <br>
                    высококачественные и безопасные ингредиенты.
                </h5>
            </article>
        </div>
        <div class="wrapper padding-left_zero">
            <div class="about__cheese-photo" appAnimateTranslate="speed_slow">
                <img src="" class="image_cover" alt="">
                <img src="https://almette.ru/images/about/03_about_almette_4.jpg" class="image_cover mobile__hide"
                     alt="">
                <img src="https://almette.ru/images/mobile/about/03_about_almette_4_mob.jpg"
                     class="image_cover desktop__hide" alt="">
            </div>
        </div>
        <div class="wrapper padding-right_zero margin-top__minus_195 b-flex_horizontal_end">
            <div class="box box-35 box_white padding-right_50 b-flex_center" appAnimateTranslate="speed_middle">
                <article>
                    <h5>
                        По всему миру на всех предприятиях «Хохланд» <br>
                        творожный сыр «Альметте» производят только в тех <br>
                        регионах, где есть доступ к свежему натуральному <br>
                        коровьему молоку высокого качества.
                    </h5>
                    <p>
                        Российское производство сыра «Альметте» работает по международным стандартам сертификации IFS и
                        SQMS.
                    </p>
                </article>
            </div>
        </div>
    </section>
</div>