<div class="production-page">
    <div class="production__wrapper">
        <section class="production production__progress">
            <div class="wrapper">
                <div data-animate="speed_slow" class="box production__progress-box box_blue">
                    <article class="pos-top pos-top_35">
                        <h1>
                            Процесс <br>
                            производства
                        </h1>
                        <h5>
                            «Альметте» творожный сыр готовится только из&nbsp;свежего натурального
                            молока и&nbsp;сливок. Поэтому все заводы по&nbsp;его производству построены в&nbsp;экологически
                            чистых местах, где хорошо развито молочное производство.
                            <br> Таким образом молоко поставляют напрямую с&nbsp;расположенных поблизости ферм.
                        </h5>
                    </article>
                </div>
                <div class="production__progress-photo" appAnimateTranslate="speed_middle">
                    <img src="https://almette.ru/images/production/04_splash.png" class="mobile__hide" alt="">
                    <img src="https://almette.ru/images/mobile/production/04_splash.png" class="desktop__hide" alt="">
                </div>
            </div>
        </section>
        <section class="production production__quality">
            <div class="production__quality-photo" appAnimateTranslate="speed_slow">
                <img src="https://almette.ru/images/production/04_bread.png" alt="">
            </div>
            <div class="b-flex_horizontal_end">
                <div class="box production__quality-box box_white" appAnimateTranslate="speed_middle">
                    <article class="pos-top pos-top_35">
                        <h1 class="title-90">
                            Безопасность <br>
                            и&nbsp;качество
                        </h1>
                        <div class="padding-left padding-left_193 width-712 margin-top_58">
                            <h5>
                                При поступлении на&nbsp;завод ингредиенты попадают в&nbsp;специальную лабораторию,
                                где проводится проверка на&nbsp;безопасность и&nbsp;качество.
                            </h5>
                            <p>
                                Только после прохождения всех необходимых тестов, сырье допускается в&nbsp;производство.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="wrapper">
                <div class="production__icon">

                    <img class="icon__svg" src="https://almette.ru/images/svg-sprite/01_ill.svg" alt="">
                </div>
            </div>
        </section>
        <section class="production production__natural">
            <div class="b-flex_horizontal_end">
                <div class="box production__quality-box" appAnimateTranslate="speed_fast">
                    <article class="pos-top pos-top_35">
                        <h1 class="title-90">
                            Натуральные <br>
                            продукты
                        </h1>
                        <div class="padding-left padding-left_193 production__natural-inner">
                            <h5>
                                Исключительно натуральное молоко и&nbsp;сливки.
                            </h5>
                            <p>
                                Из&nbsp;молока готовят творог, который становится основой сыра «Альметте».
                            </p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="wrapper">
                <div class="production__icon">
                    <img class="icon__svg" src="https://almette.ru/images/svg-sprite/02_ill.svg" alt="">
                </div>
            </div>
        </section>
        <section class="production production__best">
            <div class="b-flex_horizontal_end">
                <div class="box production__best-box box_white" appAnimateTranslate="speed_slow">
                    <article class="pos-top">
                        <h1 class="title-90">
                            Нежная консистенция
                        </h1>
                        <div class="padding-left padding-left_193 width-712 production__best-inner">
                            <h5>
                                По&nbsp;Альпийскому рецепту молодой сыр, произведенный из&nbsp;цельного молока и&nbsp;сливок,
                                деликатно взбивают при определенной температуре&nbsp;— так получается нежная
                                консистенция «Альметте», за&nbsp;которую его ценят повара и&nbsp;обычные
                                потребители.
                            </h5>
                            <p>
                                Именно консистенция, а&nbsp;также сливочный вкус натуральных молочных компонентов,
                                сделали «Альметте» Сливочный узнаваемым и&nbsp;любимым кулинарами
                                ингредиентом по&nbsp;всему миру.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="production__best-photo" appAnimateTranslate="speed_fast">
                <img src="https://almette.ru/images/production/04_cucumber.png" alt="">
            </div>
            <div class="wrapper">
                <div class="production__icon">
                    <img class="icon__svg" src="https://almette.ru/images/svg-sprite/03_ill.svg" alt="">
                </div>
            </div>
        </section>

        <section class="production production__last">
            <div class="b-flex_horizontal_end">
                <div class="box production__quality-box" appAnimateTranslate="speed_fast">
                    <article class="pos-top pos-top_35">
                        <h1 class="title-90">
                            Не содержит <br>
                            консервантов
                        </h1>
                        <div class="padding-left padding-left_193 width-760 production__last-inner">
                            <h5>
                                Творожный сыр «Альметте» не&nbsp;содержит консервантов.
                            </h5>
                            <p>
                                Хранение до&nbsp;конца срока годности обеспечивают термизация (нагревание) и&nbsp;четкий
                                контроль микробиологических показателей.
                                <br>
                                Срок годности «Альметте» в&nbsp;закрытой упаковке&nbsp;— 120 суток
                                при температуре +2 +8&nbsp;C.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="wrapper">
                <div class="production__icon">
                    <img class="icon__svg" src="https://almette.ru/images/svg-sprite/04_ill.svg" alt="">
                </div>
            </div>
        </section>
    </div>

</div>